.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.leftRow{
    flex: 1 1 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

}

.leftRow h2 {
    color: #333;
    font-size: 4.5rem;
    font-family: 'Lalezar', cursive;
}

.leftRow p {
    font-size: 1.8rem;
    color: #555;
    text-align: center;
}

.leftRow button {
    padding: .7rem 1.5rem;
    background: #3AB0FF;
    border-radius: 8px;
    cursor: pointer;
}

.leftRow button:hover {
    letter-spacing: 1px;
    background: #19a0fa;
}


.leftRow button svg {
    font-size: 2.2rem;
    color: #fff;
}

.leftRow button a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}


.rightRow{
    flex: 1 1 45rem;
    border: 2px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}

.rightRow img {
    width: 100%;
    height: 100%;
} 