.bunner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10rem;
}

.content {
    flex: 1 1 45rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.content p {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.content button {
    padding: .5rem 2rem;
    background: transparent;
    border: .15rem solid #3AB0FF;
    background: #3AB0FF;
    border-radius: 8px;
    cursor: pointer;
}

.content button:hover {
    letter-spacing: 2px;
    background: #23a4fa;
}

.content button a {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
}

.imgContainer {
    flex: 1 1 40rem;
}


.imgContainer img {
    width: 100%;
}