.zone {
    width: 100%;
    padding: 0 5rem 0 5rem;
}

.zone h3 {
    font-size: 1.7rem;
    color: #444;
    text-align: end;
}

.zone p {
    font-size: 1.4rem;
    color: #666;
    text-align: right;
}